@font-face {
  font-family: 'Myriad Set Pro';
  font-weight: 300;
  font-style: normal;
  src: url("https://s3-us-west-1.amazonaws.com/yasmirtudoachimandirochichi/fonts/myriad-set-pro_text.woff"); }

@font-face {
  font-family: 'Myriad Set Pro';
  font-weight: 200;
  font-style: normal;
  src: url("https://s3-us-west-1.amazonaws.com/yasmirtudoachimandirochichi/fonts/myriad-set-pro_thin.woff"); }

@font-face {
  font-family: 'Myriad Set Pro';
  font-weight: 100;
  font-style: normal;
  src: url("https://s3-us-west-1.amazonaws.com/yasmirtudoachimandirochichi/fonts/myriad-set-pro_ultralight.woff"); }

@font-face {
  font-family: 'Myriad Set Pro';
  font-weight: 500;
  font-style: normal;
  src: url("https://s3-us-west-1.amazonaws.com/yasmirtudoachimandirochichi/fonts/myriad-set-pro_semibold.woff"); }

body {
  font-family: 'Myriad Set Pro';
  font-weight: 300; }

.background {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #aaaaff, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(45deg, #aaaaff, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(45deg, #aaaaff, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(45deg, #aaaaff, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(45deg, #aaaaff, rgba(255, 255, 255, 0)); }

.container {
  width: 100%;
  height: 100%; }

.difficulties {
  top: 45%;
  position: relative;
  transform: translateY(-45%);
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.welcome {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: .5em; }

.easy {
  background-image: url("../img/easy.png");
  order: 1;
  background-repeat: no-repeat;
  margin: 20px 50px;
  width: 150px;
  height: 150px;
  background-size: 150px;
  cursor: pointer;
  -webkit-filter: invert(1);
  background-size: 140px; }

.medium {
  background-image: url("../img/medium.png");
  order: 2;
  background-repeat: no-repeat;
  margin: 20px 50px;
  width: 150px;
  height: 150px;
  background-size: 150px;
  cursor: pointer;
  -webkit-filter: invert(1); }

.hard {
  background-repeat: no-repeat;
  margin: 20px 50px;
  width: 150px;
  height: 150px;
  background-size: 150px;
  cursor: pointer;
  -webkit-filter: invert(1);
  background-image: url("../img/hard.png");
  order: 3;
  background-position: 0 -10px;
  width: 170px;
  background-size: 170px; }

.wordShow {
  top: 45%;
  position: relative;
  transform: translateY(-50%);
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.letter-box {
  width: 145px;
  height: 145px;
  margin: 15px 15px;
  background-color: rgba(255, 255, 255, 0.3); }
  .letter-box .letter {
    text-transform: uppercase;
    transform: translateY(40%);
    position: relative;
    font-weight: 500;
    font-size: 5em;
    text-align: center;
    color: #fff; }
