@font-face {
  font-family: 'Myriad Set Pro';
  font-weight: 500;
  font-style: normal;

  src: url('https://s3-us-west-1.amazonaws.com/yasmirtudoachimandirochichi/fonts/myriad-set-pro_semibold.woff');
}
