@import './msp-text.scss';
@import './msp-thin.scss';
@import './msp-ultralight.scss';
@import './msp-semibold.scss';

@mixin difficulty($size) {
  background-repeat: no-repeat;
  margin: 20px 50px;
  width: $size;
  height: $size;
  background-size: $size;
  cursor: pointer;
  -webkit-filter: invert(0.95);
  transition: all .3s ease;
  &:hover {
    -webkit-filter: invert(1.0);
    background-size: $size * 1.1;
    width: $size * 1.1;
    height: $size * 1.1;
  }
}

@mixin stats {
  margin: 0 50px;
  font-size: 3em;
  font-weight: 100;
}

body {
  font-family: 'Myriad Set Pro';
  font-weight: 300;
  overflow: hidden;
}


.background {
  top: 2%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 97%;
  background-image: linear-gradient(45deg, #440088, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(45deg, #440088,rgba(255,255,255,0));
  background-image: -moz-linear-gradient(45deg, #440088,rgba(255,255,255,0));
  background-image: -o-linear-gradient(45deg, #440088,rgba(255,255,255,0));
  background-image: -ms-linear-gradient(45deg, #440088,rgba(255,255,255,0));
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.difficulties {
  top: 42%;
  position: relative;
  transform: translateY(-42%);
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome {
  position: relative;
  top: 37%;
  transform: translateY(-37%);
  text-transform: uppercase;
  width: 40%;
  left: 29%;
  height: 175px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  .letter-box {
    width: 65px;
    height: 65px;
    margin: 10px 10px;
    background-color: rgba(255,255,255,0.3);
    .letter {
      text-transform: uppercase;
      transform: translateY(45%);
      position: relative;
      font-weight: 500;
      font-size: 2em;
      text-align: center;
      color: #fff;
    }
  }
}

.easy {
  background-image: url('../img/easy.png');
  order: 1;
  @include difficulty(70px);
}

.medium {
  background-image: url('../img/medium.png');
  order: 2;
  @include difficulty(75px);
}

.hard {
  @include difficulty(85px);
  background-image: url('../img/hard.png');
  order: 3;
}

.wordShow {
  top: 45%;
  position: relative;
  transform: translateY(-50%);
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.letter-box {
  width: 90px;
  height: 90px;
  margin: 15px 15px;
  background-color: rgba(255,255,255,0.3);
  .letter {
    text-transform: uppercase;
    transform: translateY(40%);
    position: relative;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    color: #fff;
  }
}

.letter-box:not(.letter-move) {
  -webkit-filter: blur(0px);
  transition: -webkit-filter .5s ease-in;
}

.selected {
  background-color: rgba(0, 255, 255, 0.3);
  color: rgba(255, 255, 0, 1);
}

.wrong {
  background-color: rgba(255, 0, 0, 0.3);
}

.stats-container {
  top: 45%;
  position: relative;
  transform: translateY(-45%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.timer {
  @include stats;
  order: 1;
}

.score {
  @include stats;
  order: 3;
}

.wordsCompleted {
  @include stats;
  order: 2;
}

.letter-move {
  -webkit-filter: blur(2px);
}
